$e-font-color: rgba(0,0,0,.6) !default;
$default: #f7f8f9 !default;
$success: #4fd69c;
$warning: #ffdd57;
$primary: #1da1f2;
$danger: #f75676;
$purple: #5e72e4;
$sky: #54c7ec;
$gray: #6c757d;
$dark: #343a40;
$white: #ffffff !default;
$black: #000000;
$purple-gradient: linear-gradient(40deg,#ff6ec4,$purple);
$blue-gradient: linear-gradient(40deg,#45cafc,#303f9f);
$green-gradient: linear-gradient(40deg,#00C9FF,#92FE9D);
$inst-gradient: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
$colors: (
  "success": $success,
  "danger" : $danger,
  "primary": $primary,
  "purple" : $purple,
  "sky"    : $sky,
  "gray"   : $gray,
  "black"  : $black,
  "dark"   : $dark
);

%place-color {
  color: $white;

  & .e-dropdown,
  & a:not(.e-btn),
  & li+li::before,
  & p {
    color: $white;
  }
}

%dark-color {
  color: $e-font-color;

  & a:not(.e-btn),
  & p,
  .e-dropdown {
    color: $e-font-color;
  }
}

%e-colors {
  &.white {
    background: $white;
    @extend %dark-color;
  }

  &.warning {
    background: $warning;
    @extend %dark-color;

    & .no-bg {
      & .e-menu {
        @media only screen and (max-width: 1023px) {
          & .e-dropdown,
          & .e-menu-item {
            &:hover {
              color: darken($warning,10%) !important;
            }
          }
        }
      }
    }

    & .drop-item {
      &:hover {
        color: darken($warning,10%) !important;
      }
    }

    &.inverted {
      & *.drop-item {
        &:hover {
          color     : $dark !important;
          background: $warning !important;
          @extend .shadow-6;
        }

        &.active {
          color     : $dark !important;
          background: $warning !important;
          @extend .shadow;
        }
      }
    }
  }

  &.transparent {
    background : $white;
    font-weight: bold;
    @extend %dark-color;
    @include desktop {
      background : rgba(255,255,255,.1);
      font-weight: normal;
      color      : $white;

      & a:not(.e-btn),
      .e-dropdown {
        color: $white;
      }
    }
  }

  &.purple-gradient {
    background: $purple-gradient;
    @extend %place-color;
  }

  &.blue-gradient {
    background: $blue-gradient;
    @extend %place-color;
  }

  &.green-gradient {
    background : $green-gradient;
    font-weight: bold;
    @extend %place-color;
  }

  &.inst-gradient {
    background : $inst-gradient;
    font-weight: bold;
    @extend %place-color;
  }
  @each $name, $pair in $colors {
    $color: nth($pair, 1);

    &.#{$name} {
      background: $color;
      @extend %place-color;

      & .no-bg {
        & .e-menu {
          @media only screen and (max-width: 1023px) {
            & .e-dropdown,
            & .e-menu-item {
              &:hover {
                color: $color !important;
              }
            }
          }
        }
      }

      & .drop-item {
        &:hover {
          color: $color !important;
        }
      }

      &.inverted {
        & *.drop-item {
          &:hover {
            color     : $white !important;
            background: $color !important;
            @extend .shadow-6;
          }

          &.active {
            color     : $white !important;
            background: $color !important;
            @extend .shadow;
          }
        }
      }
    }
  }
}

%hover-colors {
  &.white {
    &:hover {
      background-color: lighten(whitesmoke, 2.5%);
    }

    &:focus {
      background-color: $white;
      box-shadow      : 0 0 0 2.4px whitesmoke;
    }
  }

  &.warning {
    &:hover {
      background: darken($warning, 3%);
    }

    &:focus {
      background: darken($warning, 8%);
      box-shadow: 0 0 0 2.4px rgba($warning,.4);
    }
  }
  @each $name, $pair in $colors {
    $color: nth($pair, 1);

    &.#{$name} {
      &:hover {
        background: darken($color, 3.2%);
      }

      &:focus {
        background: darken($color, 8%);
        box-shadow: 0 0 0 2.4px rgba($color,.4);
      }
    }
  }
}

[class*="e-"] {
  @extend %e-colors;
}

* {
  @each $name, $pair in $colors {
    $color: nth($pair, 1);

    &.text-#{$name} {
      color: $color !important;
    }
  }

  &.text-warning {
    color: $warning !important;
  }

  &.text-white {
    color: $white !important;
  }
}

%inverted {
  &.warning {
    color: $warning;

    &:hover {
      color           : $warning;
      background-image: radial-gradient(rgba($warning,.045) 100%, transparent 0.01%) !important;
    }

    &:focus {
      border-color: white;
    }
  }
  @each $name, $pair in $colors {
    $color: nth($pair, 1);

    &.#{$name} {
      color: $color;

      &:hover {
        color           : $color;
        background-image: radial-gradient(rgba($color,.045) 100%, transparent 0.01%) !important;
      }

      &:focus {
        border-color: white;
      }
    }
  }
}

%outlined {
  &.white {
    border-color: rgba(0,0,0,0.1);
  }

  &.warning {
    color       : $warning;
    border-color: $warning;

    &:focus,
    &:hover {
      background: $warning;
      color     : $white;
    }
  }
  @each $name, $pair in $colors {
    $color: nth($pair, 1);

    &.#{$name} {
      border-color: $color;
      color       : $color;

      &:focus,
      &:hover {
        background: $color;
        color     : $white;
      }
    }
  }
}

.e-btn {
  @extend %hover-colors;

  &.outlined {
    @extend %outlined;
  }

  &.inverted {
    @extend %inverted;
  }
}

.e-nav {
  &.white {
    & .e-menu {
      & .e-menu-item,
      .e-dropdown {
        &:hover {
          background: lighten(whitesmoke,.7%);
        }
      }
    }
  }
}

.e-nav {
  &.transparent {
    & .e-menu {
      & .e-menu-item,
      .e-dropdown {
        @media only screen and (max-width: 1023px) {
          &:hover {
            background: lighten(whitesmoke,.7%);
          }
        }
      }
    }
  }
}

.e-btn,
.e-tag {
  &.transparent {
    background: rgba(255,255,255,.1) !important;
    color     : $white !important;
    @include desktop {
      background: rgba(255,255,255,.1) !important;
    }
  }
}