* {
  box-sizing: border-box;
  word-wrap : break-word;
}

*::after,
*::before {
  box-sizing: inherit;
}
@at-root {
  @-ms-viewport {
    width: device-width;
  }
}

html {
  font-family             : $font-family;
  min-width               : 320px;
  font-weight             : 400;
  line-height             : $line-height;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust    : 100%;
}

body {
  color           : $body-color;
  background-color: $body-bg;
  padding         : 0;
  margin          : 0;
  line-height     : $line-height;
  font-size       : $body-font-size;
  @media only screen and (min-width: 768px) {
    font-size: $body-font-size + 0.0625;
  }
}

img,
audio,
video {
  width    : 100%;
  max-width: 100%;
  height: auto;
}

a {
  color                       : $primary;
  text-decoration             : none;
  background-color            : transparent;
  -webkit-text-decoration-skip: objects;
}

li {
  list-style: none;
}

ol,
ul {
  padding: 0;
  margin : 0;
}

hr {
  border          : none;
  width           : 100%;
  height          : 1px;
  margin          : 20px 0;
  background-color: lighten(rgba(0,0,0,.1),2%);
}

*[disabled] {
  opacity       : 0.5;
  pointer-events: none;
  cursor        : not-allowed;
  box-shadow    : none !important;
  user-select   : none;
}

table {
  border-collapse: collapse;
}

// Iframe
iframe{
  border: 0;
}


td,
th{
  padding: 0;
}


button,
input,
optgroup,
select,
textarea {
  margin     : 0;
  font-family: inherit;
  font-size  : inherit;
  line-height: inherit;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  padding     : 0;
  border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
  padding: 0;
}

textarea {
  overflow: auto;
  resize  : vertical;
}

progress {
  vertical-align: baseline;
}

#cap-nav-full,
input#e-menu {
  display: none;
}

.e-search {
  min-height   : 30px;
  border       : none;
  border-radius: 3px;
  box-shadow   : none;
  margin       : auto;
  width        : 100%;
  padding      : 8px 5px;
  background   : rgba(0,0,0,.2);
  color        : white;

  &::-webkit-input-placeholder {
    color: white;
  }
}

.link {
  opacity: 0.9;

  &:hover {
    opacity        : 1;
    text-decoration: underline;
    cursor         : pointer;
  }
}

%e-cap-fade {
  -webkit-animation-duration: 0.4s !important;
  animation-duration        : 0.4s !important;
}

.e-cap {
  @extend %e-cap-fade;
  position        : fixed;
  top             : 0;
  left            : 0;
  bottom          : 0;
  right           : 0;
  width           : 100%;
  height          : 100vh;
  z-index         : 9000;
  background-color: rgba(0,0,0,.5);
}

.active {
  background-color: lighten(rgba(0,0,0,0.1),30%) !important;
}

.e-btn,
.e-dropdown {
  user-select: none;
  color      : $font-color;
  cursor     : pointer;
}
