@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear  : both;
  }
}

.clear {
  @include clearfix;
}
@mixin tablet() {
  @media only screen and (min-width: 768px) {
    @content;
  }
}
@mixin desktop() {
  @media only screen and (min-width: 1024px) {
    @content;
  }
}
@mixin desktop-plus() {
  @media only screen and (min-width: 1366px) {
    @content;
  }
}