<div class="e-footer-bar centered white shadow-1 aside">
  <p>Designed and built with all the <span class="e-tag danger">love </span> in the world by &nbsp;&nbsp;</p>
  <iframe src="https://ghbtns.com/github-btn.html?user=EfraaX&type=follow&count=true&size=large" frameborder="0" scrolling="0" width="220px" height="30px"></iframe>

</div>
<footer class="e-footer aside primary">
  <div class="e-container">
    <div class="e-section centered">
      <h3>Give us Love</h3>
      <div class="e-col-12 centered">
        <a href="{{site.facebook}}" target="_blank" class="e-btn inverted primary">&nbsp;&nbsp;&nbsp;<i class="fab fa-facebook-f size-1"></i>&nbsp;&nbsp;&nbsp;</a>
        <a href="{{site.twitter}}" target="_blank" class="e-btn inverted sky"><i class="fab fa-twitter size-1"></i></a>
      </div>
      <div class="e-col-12 centered">
        <a href="{{site.donate}}" target="_blank" class="e-btn inverted purple ePull infinite"><i class="fas fa-heart text-danger size-1 ePull infinite"></i><br>
          Donate</a>
      </div>
      <hr>
    </div>
    <div class="e-section">
      <div class="e-cols">

        <div class="e-col-4">
          <p class="look">&copy; 2018 <strong>eFrolic</strong> <small>by <a href="{{site.url}}/author">Efrain Peralta.</a></small></p>
          <p>is licensed under a:</p>
          <p>Code licensed:<strong>
              <a rel="license" class="licensed" target="_blank" href="https://opensource.org/licenses/mit-license.php">MIT</a>
            </strong></p>
          Website content licensed: <br>
          <a rel="license" class="licensed" target="_blank" href="https://creativecommons.org/licenses/by/3.0/">Attribution 3.0 Unported (CC BY 3.0)</a></p>
          <div class="e-toolbar">
            <div class="e-tags unified">
              <span class="e-tag danger shadow-3">Currently</span>
              <span class="e-tag white shadow-3">{{site.version}}</span>
            </div>
            <div class="e-tags unified">
              <span class="e-tag dark shadow-3">Licensed</span>
              <span class="e-tag white shadow-3">MIT</span>
            </div>
          </div>
        </div>
        <div class="e-col">
          <h5><a href="{{site.url}}/documentation">Documentation</a></h5>
          <ul>
            <li><a href="{{site.url}}/documentation/get-started">Get started</a></li>
            <li><a href="{{site.url}}/documentation/layout">Layout</a></li>
            <li><a href="{{site.url}}/documentation/components">Components</a></li>
            <li><a href="{{site.url}}/documentation/utilities">Utilities</a></li>
            <li><a href="{{site.url}}/helpers">Helpers</a></li>
          </ul>
          <iframe src="https://ghbtns.com/github-btn.html?user=EfraaX&repo=eFrolic&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
        </div>
        <div class="e-col">
          <h5>See the news</h5>
          <ul>
            <li><a class="link">news 1</a></li>
            <li><a class="link">news 2</a></li>
            <li><a class="link">news 3</a></li>
          </ul>
        </div>
        <div class="e-col no-mobile">
          <h5 class="text-center">Social networks</h5>
          <div class="e-buttons centered">
            <a href="{{site.facebook}}" target="_blank" class="e-btn circle small shadow-6 inverted primary"><i class="fab fa-facebook-f"></i></a>
          </div>
          <div class="e-buttons centered">
            <a href="{{site.twitter}}" target="_blank" class="e-btn circle small shadow-6 inverted sky"><i class="fab fa-twitter"></i></a>
          </div>
          <div class="e-buttons centered">
            <a href="{{site.github_me}}" target="_blank" class="e-btn circle small shadow-6 inverted dark"><i class="fab fa-github-alt"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="e-footer-bar centered">
    <p> eFrolic © 2018. All rights reserved.</p>
    <div class="e-buttons no-desktop">
      <a href="{{site.facebook}}" target="_blank" class="e-btn circle small inverted primary"><i class="fab fa-facebook-f"></i></a>
      <a href="{{site.twitter}}" target="_blank" class="e-btn circle small inverted sky"><i class="fab fa-twitter"></i></a>
      <a href="{{site.github_me}}" target="_blank" class="e-btn circle small shadow-6 inverted dark"><i class="fab fa-github-alt"></i></a>
    </div>
  </div>
</footer>
