<nav class="e-nav white eFroli">
  <label for="e-menu" class="e-btn circle inverted gray no-shadow no-desktop text-btn">
    <i class="fas fa-th"></i>
  </label>
  <a href="{{ site.url }}" class="logo docs-brand log-b">
    <img src="{{ site.url }}/assets/images/efrolic-brand.png" alt="{{site.title}} | framework css {{ site.time | date: "%Y" }}" />
  </a>
  <a class="e-btn circle inverted gray no-desktop text-btn" onclick="showNav()">
    <i class="fas fa-bars"></i>
  </a>
  <input type="checkbox" id="e-menu">
  <div class="e-menu">
      <div class="e-drops unified no-mobile">
        <a href="{{ site.url }}/documentation" class="e-btn primary">
          Documentation
        </a>

        <div class="e-dropdown shadow" aria-hidden="true"><i class="fas fa-angle-down"></i>
          <div class="drop-items shadow-6">
            <a href="{{site.url}}/documentation/get-started" class="drop-item {% if page.permalink == '/documentation/get-started' %}active{% endif %}">GET STARTED</a>
            <a href="{{site.url}}/documentation/layout" class="drop-item {% if page.permalink == '/documentation/layout' %}active{% endif %}">LAYOUT</a>
            <a href="{{site.url}}/documentation/components" class="drop-item {% if page.permalink == '/documentation/components' %}active{% endif %}">COMPONENTS</a>
            <a href="{{site.url}}/documentation/utilities" class="drop-item {% if page.permalink == '/documentation/utilities' %}active{% endif %}">UTILITIES</a>
          </div>
        </div>
      </div>
    <i class="e-distribution"></i>
    <a href="{{ site.url }}/documentation" class="e-menu-item no-desktop {% if page.permalink == '/documentation' %}active{% endif %}">
      <i class="fas fa-archive text-sky"></i> Documentation
    </a>

    <a href="{{ site.url }}/news" class="e-menu-item {% if page.permalink == '/news' %}active{% endif %}">
      <i class="far fa-bookmark text-success"></i> News
    </a>

    <!--a href="{{ site.url }}/expo" class="e-menu-item {% if page.permalink == '/expo' %}active{% endif %}">
      <i class="fas fa-splotch text-danger"></i> Expo
    </a-->

    <!--div class="e-dropdown">
      <i class="fas fa-boxes text-purple"></i> More
      <div class="drop-items">
        <!--a href="{{ site.url }}/js" class="drop-item {% if page.permalink == '/made-js' %}active{% endif %}">
          <i class="fab fa-js-square text-warning"></i> Components made with Js
        </a-->
        <!--a href="{{ site.url }}/colors" class="drop-item {% if page.permalink == '/colors' %}active{% endif %}">
          <i class="fas fa-palette text-danger"></i> Colors
        </a>
        <a href="{{ site.url }}/background" class="drop-item {% if page.permalink == '/background' %}active{% endif %}">
          <i class="far fa-images text-sky"></i> Background
        </a>
        <a href="{{ site.url }}/animations" class="drop-item {% if page.permalink == '/animations' %}active{% endif %}">
          <i class="fas fa-car-crash text-purple"></i> Animations
        </a>
        <a href="{{ site.url }}/author" class="drop-item {% if page.permalink == '/author' %}active{% endif %}">
          <i class="fas fa-user-astronaut text-primary"></i> About the Author
        </a>
        <hr>
        <a href="{{ site.facebook }}" target="_blank" class="e-btn inverted primary">
          <i class="fab fa-facebook-f text-sky"></i>acebook
        </a>
        <a href="{{site.twitter}}" target="_blank" class="e-btn sky">
          <i class="fab fa-twitter"></i> Twitter
        </a>
      </div>
    </div-->
    <a href="https://www.patreon.com/efrolic" target="_blank" class="e-btn inverted purple ePull infinite">
      <i class="fas fa-heart text-danger ePull infinite"></i> Donate
    </a>
    <a href="{{site.url}}/download" class="e-btn {{ site.button }}">
      <i class="fas fa-box"></i> Download
    </a>
  </div>
</nav>

<nav class="e-nav-aside myNav" style="background:rgb(253, 254, 253);">
  <div class="e-face" style="background:transparent;">
    <div class="face-body centered">
      <div class="e-container">
        <a href="{{ site.url }}" class="logo docs-brand"><img style="width:90px;" src="{{ site.url }}/assets/images/efrolic-brand.png" alt="{{site.title}} | framework css {{ site.time | date: "%Y" }}" /></a>
      </div>
    </div>
  </div>
  <div class="on-page {% if page.form == 'form' %} off-pages {% endif %}">
  <p class="label {% if page.category == 'start' %}on-active{% endif %}"><br><strong><a href="{{site.url}}/approach">Get started</a></strong></p>
  <div class="off-page {% if page.category == 'start' %} on-page {% endif %}">
  <li class="{% if page.permalink == '/approach' %}active{% endif %}">
    <a href="{{ site.url }}/approach">
      <i class="fas fa-users text-purple"></i> Approach
    </a>
  </li>
  <li class="{% if page.permalink == '/start' %}active{% endif %}">
    <a href="{{ site.url }}/start">
      <i class="fas fa-play text-danger"></i> Quick start
    </a>
  </li>
  <li class="{% if page.permalink == '/download' %}active{% endif %}">
    <a href="{{ site.url }}/download"><i class="fas fa-download"></i> Download
    </a>
  </li>
  <!--li class="{% if page.permalink == '/templates' %}active{% endif %}">
    <a href="{{ site.url }}/templates"><i class="fas fa-star text-warning"></i> Templates
    </a>
  </li-->
  <li class="{% if page.permalink == '/news' %}active{% endif %}">
    <a href="{{ site.url }}/news"><i class="far fa-bookmark text-success"></i> See the news
    </a>
  </li>
  </div>
  <p class="label {% if page.category == 'layout' %}on-active{% endif %}"><strong><a href="{{site.url}}/container" >Layout</a></strong></p>
  <div class="off-page {% if page.category == 'layout' %} on-page {% endif %}">
  <li class="{% if page.permalink == '/container' %}active{% endif %}">
    <a href="{{ site.url }}/container"><i class="fas fa-box-open text-sky"></i> Containers
    </a>
  </li>

  <li class="{% if page.permalink == '/face' %}active{% endif %}">
    <a href="{{ site.url }}/face"><i class="fas fa-id-card-alt text-success"></i> Face
    </a>
  </li>

  <li class="{% if page.permalink == '/grid' %}active{% endif %}">
    <a href="{{ site.url }}/grid"><i class="fas fa-th text-danger"></i> Grid
    </a>
  </li>

  <li class="{% if page.permalink == '/media-object' %}active{% endif %}">
    <a href="{{ site.url }}/media-object"><i class="fas fa-object-ungroup text-purple"></i> Media object
    </a>
  </li>

  <li class="{% if page.permalink == '/footer' %}active{% endif %}">
    <a href="{{ site.url }}/footer"><i class="fas fa-vector-square text-primary"></i> Footer
    </a>
  </li>
</div>
  <p class="label {% if page.category == 'components' %}on-active{% endif %}"><a href="{{site.url}}/alerts" ><strong>Components</strong></a></p>
<div class="off-page {% if page.category == 'components' %} on-page {% endif %}">
  <li class="{% if page.permalink == '/alerts' %}active{% endif %}">
    <a href="{{ site.url }}/alerts"><i class="far fa-clone text-danger"></i> Alerts
    </a>
  </li>

  <li class="{% if page.permalink == '/alerts-previews' %}active{% endif %}">
    <a href="{{ site.url }}/alerts-previews"><i class="fas fa-desktop text-danger"></i> Alerts previews
    </a>
  </li>

  <li class="{% if page.permalink == '/breadcrumb' %}active{% endif %}">
    <a href="{{ site.url }}/breadcrumb"><i class="fas fa-ellipsis-h text-primary"></i> Breadcrumb
    </a>
  </li>

  <li class="{% if page.permalink == '/buttons' %}active{% endif %}">
    <a href="{{ site.url }}/buttons"><i class="far fa-circle text-purple"></i> Buttons
    </a>
  </li>

  <li class="{% if page.permalink == '/button-group' %}active{% endif %}">
    <a href="{{ site.url }}/button-group"><i class="fas fa-box-open text-success"></i> Button group
    </a>
  </li>

  <li class="{% if page.permalink == '/social-buttons' %}active{% endif %}">
    <a href="{{ site.url }}/social-buttons"><i class="far fa-dot-circle text-purple"></i> Buttons Social
    </a>
  </li>

  <li class="{% if page.permalink == '/buttons-previews' %}active{% endif %}">
    <a href="{{ site.url }}/buttons-previews"><i class="fas fa-desktop text-purple"></i> Buttons previews
    </a>
  </li>

  <li class="{% if page.permalink == '/cards' %}active{% endif %}">
    <a href="{{ site.url }}/cards"><i class="far fa-id-card text-danger"></i> Cards
    </a>
  </li>

  <li class="{% if page.permalink == '/cards-previews' %}active{% endif %}">
    <a href="{{ site.url }}/cards-previews"><i class="fas fa-desktop text-danger"></i> Cards previews
    </a>
  </li>

  <li class="{% if page.permalink == '/dropdown' %}active{% endif %}">
    <a href="{{ site.url }}/dropdown"><i class="fas fa-chevron-down text-success"></i> Dropdowns
    </a>
  </li>

  <li class="{% if page.permalink == '/forms' %}active{% endif %}">
    <a href="{{ site.url }}/forms"><i class="fab fa-wpforms text-purple"></i> Forms
    </a>
  </li>

  <li class="{% if page.permalink == '/lists' %}active{% endif %}">
    <a href="{{ site.url }}/lists"><i class="fas fa-list-ul text-success"></i> Lists
    </a>
  </li>

  <li class="{% if page.permalink == '/modal' %}active{% endif %}">
    <a href="{{ site.url }}/modal"><i class="far fa-window-maximize text-primary"></i> Modal
    </a>
  </li>

  <li class="{% if page.permalink == '/navbars' %}active{% endif %}">
    <a href="{{ site.url }}/navbars"><i class="fas fa-bars text-purple"></i> Navbars
    </a>
  </li>


  <li class="{% if page.permalink == '/sidenav' %}active{% endif %}">
    <a href="{{ site.url }}/sidenav"><i class="fas fa-grip-vertical text-sky"></i> SideNav
    </a>
  </li>

  <li class="{% if page.permalink == '/notes' %}active{% endif %}">
    <a href="{{ site.url }}/notes"><i class="fas fa-comment-alt text-warning"></i> Notes
    </a>
  </li>

  <li class="{% if page.permalink == '/notes-previews' %}active{% endif %}">
    <a href="{{ site.url }}/notes-previews"><i class="fas fa-desktop text-warning"></i> Notes previews
    </a>
  </li>

  <li class="{% if page.permalink == '/pagination' %}active{% endif %}">
    <a href="{{ site.url }}/pagination"><i class="far fa-caret-square-right text-purple"></i> Pagination
    </a>
  </li>

  <li class="{% if page.permalink == '/progress' %}active{% endif %}">
    <a href="{{ site.url }}/progress"><i class="fas fa-spinner text-success"></i> Progress
    </a>
  </li>

  <li class="{% if page.permalink == '/tabs' %}active{% endif %}">
    <a href="{{ site.url }}/tabs"><i class="fas fa-thumbtack text-danger"></i> Tabs
    </a>
  </li>

  <li class="{% if page.permalink == '/tables' %}active{% endif %}">
    <a href="{{ site.url }}/tables"><i class="fas fa-table text-sky"></i> Tables
    </a>
  </li>

  <li class="{% if page.permalink == '/tags' %}active{% endif %}">
    <a href="{{ site.url }}/tags"><i class="fas fa-tags text-gray"></i> Tags / Badges
    </a>
  </li>
</div>

  <p class="label {% if page.category == 'utilities' %}on-active{% endif %}"><strong><a href="{{site.url}}/animations">Utilities</a></strong></p>
  <div class="off-page {% if page.category == 'utilities' %} on-page {% endif %}">
  <li class="{% if page.permalink == '/animations' %}active{% endif %}">
    <a href="{{ site.url }}/animations"><i class="fas fa-car-crash text-success"></i> Animations
    </a>
  </li>
  <li class="{% if page.permalink == '/alignments' %}active{% endif %}">
    <a href="{{ site.url }}/alignments"><i class="fas fa-align-center text-danger"></i> Alignments
    </a>
  </li>
  <li class="{% if page.permalink == '/background' %}active{% endif %}">
    <a href="{{ site.url }}/background"><i class="far fa-images"></i> Background
    </a>
  </li>
  <li class="{% if page.permalink == '/borders' %}active{% endif %}">
    <a href="{{ site.url }}/borders"><i class="fas fa-compress text-sky"></i> Borders
    </a>
  </li>
  <li class="{% if page.permalink == '/colors' %}active{% endif %}">
    <a href="{{ site.url }}/colors"><i class="fas fa-palette text-sky"></i> Colors
    </a>
  </li>
  <li class="{% if page.permalink == '/clean' %}active{% endif %}">
    <a href="{{ site.url }}/clean"><i class="fas fa-broom text-danger"></i> Clean
    </a>
  </li>
  <li class="{% if page.permalink == '/delete' %}active{% endif %}">
    <a href="{{ site.url }}/delete"><i class="fas fa-times text-success"></i> Delete
    </a>
  </li>
  <li class="{% if page.permalink == '/shadows' %}active{% endif %}">
    <a href="{{ site.url }}/shadows"><i class="fas fa-highlighter text-purple"></i> Shadows
    </a>
  </li>
  <li class="{% if page.permalink == '/spacing' %}active{% endif %}">
    <a href="{{ site.url }}/spacing"><i class="fas fa-expand text-danger"></i> Spacing
    </a>
  </li>
  <li class="{% if page.permalink == '/sizing' %}active{% endif %}">
    <a href="{{ site.url }}/sizing"><i class="fas fa-expand-arrows-alt text-sky"></i> Sizing
    </a>
  </li>
  <li class="{% if page.permalink == '/text' %}active{% endif %}">
    <a href="{{ site.url }}/text"><i class="fas fa-text-height text-warning"></i> Text
    </a>
  </li>
  <li class="{% if page.permalink == '/typography' %}active{% endif %}">
    <a href="{{ site.url }}/typography"><i class="fas fa-laptop-code text-gray"></i> Typography
    </a>
  </li>
  <li class="{% if page.permalink == '/visibility' %}active{% endif %}">
    <a href="{{ site.url }}/visibility"><i class="far fa-eye-slash text-purple"></i> Visibility
    </a>
  </li>

</div>

  <p class="label"><br><strong>About</strong></p>

  <li>
    <a href="{{site.twitter}}" target="_blank"><i class="fab fa-twitter text-sky"></i> Twitter
    </a>
  </li>
  <li>
    <a href="{{site.github}}" target="_blank"><i class="fab fa-github-alt"></i> GitHub
    </a>
  </li>
  <li class="{% if page.permalink == '/author' %}active{% endif %}">
    <a href="{{ site.url }}/author"><i class="fas fa-user-astronaut text-danger"></i> About the Author
    </a>
  </li>

  <div class="e-col centered">
    <hr>
    <p>&copy; 2018 <strong>eFrolic</strong>
      by Efrain Peralta is licensed under a: <br><br>
      Code licensed:
      <a rel="license" class="licensed" target="_blank" href="https://opensource.org/licenses/mit-license.php">MIT</a> <br>
      Website content licensed: <br>
      <a rel="license" class="licensed" target="_blank" href="https://creativecommons.org/licenses/by/3.0/">Attribution 3.0 Unported (CC BY 3.0)</a></p>
  </div>
  </div>
  <!-- Form navigation -->

{% if page.form == 'form' %}
  <p class="label"> <br> <strong><a href="{{site.url}}/documentation/components"><i class="fas fa-arrow-left text-danger"></i> Back to docs</a></strong></p>
  <p class="label"><strong>On this page <span class="e-tag danger">Forms</span> </strong></p>

  <li><a href="#sizes">Sizes</a></li>
  <li><a href="#status">Status / Colors</a></li>
  <li><a href="#disabled">Disabled</a></li>
  <li><a href="#readonly">Readonly</a></li>
  <li><a href="#styles">Styles</a></li>
  <li><a href="#groups">Form groups</a></li>
  <li><a href="#unified">Form group unified</a></li>
  <li><a href="#control-helper">Control helper</a></li>
  <li><a href="#multiple-inputs">Multiple inputs</a></li>
  <li><a href="#button-addons">Button addons</a></li>
  <li><a href="#help-text">Help text</a></li>
  <li><a href="#icons">With icons</a></li>
  <li><a href="#grid">Form grid</a></li>
  <li><a href="#h-form">Horizontal Form</a></li>
  <li><a href="#form-box">Form box</a></li>
{% endif %}
</nav>
