---
layout: base

permalink: /expo

title: Expo

description: "Beautiful uses of eFrolic in grandiose projects. 😻"

---
<style media="screen">
  @media only screen and (min-width:1024px) {
body {
padding-top: 80px;
}
}
</style>
{% include global/header.html %}


<div class="e-container-fluid aside btn bg mt-1">
  <div class="e-cols">
    <div class="e-col-10">

      <h3 class="code-title">⭐️ {{page.title}} <span class="e-tag static danger">Love</span></h3>
      <p class="look">{{page.description}}</p>
      <p class="text-center mt-1">Your site can be here, if you created a great design with eFrolic. <strong>Mentioned about it.</strong> 💙</p>
      <div class="e-buttons unified centered text-center">
        <a href="{{site.facebook}}"target="_blank" class="e-btn small inverted primary"><i class="fab fa-facebook-f"></i> Post in @eFrolic</a>
        <a href="{{{site.twitter}}" target="_blank" class="e-btn small inverted sky"><i class="fab fa-twitter"></i> Mention @e_frolic</a>
      </div>
      <hr class="hr">
      <div class="e-container-fluid">
        <a href="https://efraax.github.io/es/" target="_blank">
        <img class="img-h" src="{{site.url}}/assets/images/expo/efra.png" alt="eFrolic : Efrain Peralta">
        </a>
        <h5 class="text-center"><i class="fas fa-code text-primary"></i> Efra Peralta</h5>
        <p class="text-center no-mt">30 Oct 2018</p>
      </div>




    </div>
  </div>
</div>




{% include global/footer.html %}
