$e-font: 'Nunito', sans-serif !default; /* Size de los iconos en los botones redondos */
$size-icon-circle: 1.2rem !default;

* {
  box-sizing: border-box;
  word-wrap : break-word;
}

*::after,
*::before {
  box-sizing: inherit;
}
@at-root {
  @-ms-viewport {
    width: device-width;
  }
}

html {
  font-family             : $e-font;
  min-width               : 320px;
  font-weight             : 400;
  line-height             : 1.5;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust    : 100%;
}

body {
  color           : #343a40;
  background-color: #fff;
  padding         : 0;
  margin          : 0;
  line-height     : 1.5;
  font-size       : 15px;
  @media only screen and (min-width: 768px) {
    font-size: 16px;
  }
}

img {
  width    : 100%;
  max-width: 100%;
}

a {
  color                       : rgb(29, 161, 242);
  text-decoration             : none;
  background-color            : transparent;
  -webkit-text-decoration-skip: objects;
}

li {
  list-style: none;
}

ol,
ul {
  padding: 0;
  margin : 0;
}

hr {
  border          : none;
  width           : 100%;
  height          : 1px;
  margin          : 20px 0;
  background-color: lighten(rgba(0,0,0,.1),2%);
}

*[disabled] {
  opacity       : 0.5;
  cursor        : not-allowed;
  box-shadow    : none !important;
  pointer-events: none;
}

table {
  border-collapse: collapse;
}

button,
input,
optgroup,
select,
textarea {
  margin     : 0;
  font-family: inherit;
  font-size  : inherit;
  line-height: inherit;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  padding     : 0;
  border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
  padding: 0;
}

textarea {
  overflow: auto;
  resize  : vertical;
}

progress {
  vertical-align: baseline;
}