<div class="aside  e-sm-height centered" style="background:#fafafa;">
  <div class="e-container text-center">
    <h5 class="text-dark">Contribute on <small>GitHub</small> </h5>
    <iframe src="https://ghbtns.com/github-btn.html?user=EfraaX&repo=eFrolic&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
    <iframe src="https://ghbtns.com/github-btn.html?user=EfraaX&type=follow&count=true&size=large" frameborder="0" scrolling="0" width="220px" height="30px"></iframe>
  </div>
</div>

<section class="e-fullscreen aside centered white">
  <div class="e-container">
    <h5 class="size-4 text-gray text-center">Become a sponsor.</h5>
    <p class="look text-gray text-center">If you are using our framework in a product that generates income,
      you can also help its maintenance if you wish, if you frequently help in your company
      or personal developments consider making a recurring donation. <br><br>
      If you want to see your company's logo on this site it's time to be a serious Sponsor.</p>
    <div class="e-cols">
      <div class="e-col-5">
        <div class="e-card profile shadow-3">
          <div class="e-card-cover warning">
            <img style="width:200px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9f/PayPal2007.svg/2000px-PayPal2007.svg.png" alt="{{site.title}} | framework css {{ site.time | date: "%Y" }}">
          </div>
          <div class="e-card-photo shadow-6">
            <img src="{{site.url}}{{site.photo_profile}}" alt="{{site.title}} | framework css {{ site.time | date: "%Y" }}">
          </div>
          <div class="card-body">
            <h3 class="card-title text-center text-dark">One-time <small class="e- text-gray">donation</small> </h3>
            <hr>
            <a href="{{site.donate}}" target="_blank" class="e-btn fullwidth purple">Donate</a>
          </div>
        </div>
      </div>
      <div class="e-col-5">
        <div class="e-card profile shadow-3">
          <div class="e-card-cover" style="background:#f96855;">
            <img src="{{site.url}}/assets/images/patron.jpg" alt="{{site.title}} | framework css {{ site.time | date: "%Y" }}">
          </div>
          <div class="e-card-photo shadow-6">
            <img src="{{site.url}}{{site.photo_profile}}" alt="{{site.title}} | framework css {{ site.time | date: "%Y" }}">
          </div>
          <div class="card-body">
            <h3 class="card-title text-center text-dark">Serious <small class="e- text-gray">sponsor</small> </h3>
            <hr>
            <a href="https://www.patreon.com/efrolic" target="_blank" class="e-btn fullwidth purple" style="background:#f96855;">Become a Patron</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
