body,
html {
  font-family     : $e-font;
  min-width       : 320px;
  padding         : 0;
  margin          : 0;
  font-size       : 15px;
  font-weight     : 400;
  line-height     : 1.5;
  text-rendering  : optimizeLegibility;
  text-size-adjust: 100%;
  @include tablet {
    font-size: 16px;
  }
}

* {
  box-sizing: border-box;
  word-wrap : break-word;
  @media only screen and (max-width: 500px) {
    -webkit-overflow-scrolling: touch;
  }
}

img {
  width    : 100%;
  max-width: 100%;
}

a {
  text-decoration: none;
}

#cap-nav-full,
input#e-menu {
  display: none;
}

li {
  list-style: none;
}

hr {
  border          : none;
  width           : 100%;
  height          : 1px;
  margin          : 20px 0;
  background-color: lighten(rgba(0,0,0,.1),2%);
}

.e-search {
  min-height   : 30px;
  border       : none;
  border-radius: 3px;
  box-shadow   : none;
  margin       : auto;
  width        : 100%;
  padding      : 8px 5px;
  background   : rgba(0,0,0,.2);
  color        : white;

  &::-webkit-input-placeholder {
    color: white;
  }
}

.link {
  opacity: 0.9;

  &:hover {
    opacity        : 1;
    text-decoration: underline;
    cursor         : pointer;
  }
}

.e-cap {
  position        : fixed;
  top             : 0;
  left            : 0;
  bottom          : 0;
  right           : 0;
  width           : 100%;
  height          : 100vh;
  z-index         : 9000;
  background-color: rgba(0,0,0,.5);
  will-change     : opacity;
  @extend .eFade;
}
/* Clase active del menu */
.active {
  background-color: lighten(rgba(0,0,0,0.1),30%) !important;
}