.e-dropdown {
  display        : inline-block;
  position       : relative;
  padding        : 0.5rem 1.25rem;
  background     : $default;
  color          : rgba(0,0,0,0.7);
  user-select    : none;
  white-space    : nowrap;
  justify-content: center;
  align-items    : center;
  text-align     : center;
  vertical-align : baseline;
  margin         : 0.3rem;
  border-radius  : 0.25rem;
  cursor         : pointer;
  font-size      : 0.90rem;
  overflow       : visible;
  width          : auto;

  &:after {
    background-image: none;
  }
}

.drop-items {
  @extend .eFade;
  display      : none;
  position     : absolute;
  min-width    : 12rem;
  background   : white !important;
  z-index      : 10000;
  width        : 100% auto;
  margin       : 0;
  left         : 5px;
  top          : 100%;
  overflow     : visible;
  box-shadow   : 0 0.125rem 0.25rem rgba(0,0,0,.075);
  padding      : 10px 7px;
  border-radius: 0.6rem;

  & .drop-item {
    text-align   : left;
    overflow     : hidden;
    padding      : 10px 15px;
    background   : white;
    display      : block;
    position     : relative;
    margin       : 0;
    background   : transparent;
    width        : 100%;
    color        : rgba(0,0,0,0.6) !important;
    text-shadow  : none !important;
    font-weight  : normal;
    border-radius: 3px;
    transition   : box-shadow 0.18s ease-out, background 0.18s ease-out, color 0.18s ease-out;

    &:hover {
      background: $default;
      color     : $primary !important;
    }
  }

  & .e-btn {
    margin-left: 0;
  }
}

.drop-items:before {
  background   : #fff;
  content      : "";
  display      : block;
  height       : 16px;
  width        : 16px;
  left         : 20px;
  position     : absolute;
  bottom       : 100%;
  transform    : rotate(-45deg) translateY(1rem);
  z-index      : -5;
  border-radius: 0.2rem;
}

.e-dropdown {
  &.drop-right {
    & .drop-items {
      left : auto;
      right: 5px;

      &:before {
        left : auto;
        right: 40px;
      }
    }
  }
}

.e-drops,
.e-nav {
  & .e-dropdown:last-child {
    & .drop-items {
      left : auto;
      right: 5px;

      &:before {
        left : auto;
        right: 40px;
      }
    }
  }
}
@media only screen and (max-width:1024px) {
  .e-nav {
    & .e-dropdown:last-child {
      & .drop-items {
        &:before {
          left : 20px;
          right: auto;
        }
      }
    }
  }
}

.e-dropdown:hover .drop-items {
  display: block;
}