%centered {
  display        : flex;
  flex-wrap      : wrap;
  justify-content: center;
  align-items    : center;
  vertical-align : middle;
}

.e-container {
  margin-left : auto;
  margin-right: auto;
  padding     : 0;
  width       : 90%;
  @include desktop-plus {
    width: 80%;
  }

  &-fluid {
    width: 100%;
  }
}

.e-cols {
  display       : flex;
  flex          : 0 1 auto;
  flex-direction: row;
  margin        : 0 auto;
  flex-wrap     : wrap;
  width         : 100%;

  &.no-gap {
    & [class*="e-col"] {
      padding: 0 !important;
    }
  }
}

.w-100 {
  width: 100% !important;
}
@mixin col($e-col) {
  width: percentage($e-col / 12);
}

[class*="e-"] {
  &.centered {
    @extend %centered;
  }

  &.between {
    @extend %centered;
    justify-content: space-between;
  }

  &.align-start {
    @extend %centered;
    justify-content: flex-start;
  }

  &.align-end {
    @extend %centered;
    justify-content: flex-end;
  }
}

.e-col {
  width  : 100%;
  padding: 0 0.75rem 0.75rem;
  flex   : 0 0 auto;
  margin : 0 auto;
  @for $i from 1 through 12 {
    &-#{$i} {
      width  : 100%;
      padding: 0 0.75rem 0.75rem;
      flex   : 0 0 auto;
      margin : 0 auto;
    }
  }
}
/* Desktop */
@media only screen and (min-width: 1024px) {
  .e-col {
    flex-grow  : 1;
    flex-shrink: 1;
    flex-basis : 0;
    max-width  : 100%;
    @for $i from 1 through 12 {
      &-#{$i} {
        @include col($i);
      }
    }
  }
}