@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear  : both;
  }
}
@mixin tablet() {
  @media only screen and (min-width: 48em /*768px*/) {
    @content;
  }
}
@mixin desktop() {
  @media only screen and (min-width: 1024px) {
    @content;
  }
}
@mixin desktop-plus() {
  @media only screen and (min-width: 85.375em /*1366px*/) {
    @content;
  }
}