%e-nav {
  @extend %centered;
  height         : auto;
  width          : 100%;
  z-index        : 1000;
  min-height     : 3.75rem;
  position       : relative;
  justify-content: space-between;
  background     : $default;
  color          : $e-font-color;
  @extend .shadow-5;
  padding        : 8px;
  @include desktop {
    padding-left : 5%;
    padding-right: 5%;
    border-bottom: solid 1px lighten(rgba(0,0,0,0.1),20%);
  }
  @include desktop-plus {
    padding-left : 8%;
    padding-right: 10%;
  }

  &.fixed {
    top     : 0;
    position: fixed;
  }

  & .e-btn {
    margin-top   : 0;
    margin-bottom: 0;
  }
  @media only screen and (max-width: 1023px) {
    & .drop-items {
      display   : block;
      position  : relative;
      box-shadow: none !important;
      width     : 100%;
      left      : 0;
      margin-top: 8px;
    }

    & .e-dropdown:after {
      display: none;
    }
  }
}

.e-nav {
  @extend %e-nav;
}

.e-img {
  width           : 45px;
  height          : 45px;
  border-radius   : 100%;
  background-color: white;
}

.e-distribution {
  width  : 0.5px;
  display: none;
  margin : auto;
  @include desktop {
    display: block;
  }
}
/***************************************************************
*                      Full Navbar styles
****************************************************************/

.e-nav-full {
  position        : fixed;
  top             : 0;
  height          : 100vh;
  width           : 220px;
  padding         : 30px 0 0;
  z-index         : 10000;
  box-shadow      : 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  background-color: $default;
  color           : $e-font-color;
  font-size       : 0.875rem;
  @extend .eSlide;
  overflow-y      : auto;
  @include desktop {
    width     : 15rem;
    overflow-y: hidden;
  }

  &:hover {
    overflow-y: auto;
  }

  & .e-nav-footer {
    font-size     : 0.8125rem;
    text-align    : center;
    overflow      : hidden;
    padding-bottom: 30px;
  }

  & li {
    width         : 100%;
    padding       : 10px;
    transition    : 0.2s;
    padding-left  : 40px;
    cursor        : pointer;
    color         : white;
    text-shadow   : 1px 1px 2px rgba(0,0,0,0.1);
    letter-spacing: 0.4px;

    &:hover {
      background-color: rgba(0,0,0,0.1);
    }

    & i,
    span {
      margin-right: 10px;
      font-size   : 1.0625rem;
    }

    & a {
      color: white;
    }
  }
}

.cap-nav-full {
  display: none;
  padding: 0;

  & ul {
    padding-top: 30px;
    margin     : 0;
  }
}

.cap-nav-full-hidden {
  position        : absolute !important;
  background-color: transparent !important;
}

%e-menu-item {
  @extend %waves;
  display        : inline-block;
  padding        : 0.5rem 1.25rem;
  color          : $e-font-color;
  background     : transparent;
  position       : relative;
  cursor         : pointer;
  border         : none;
  text-decoration: none;
  text-align     : left;
  list-style     : none;
  line-height    : 22px;
  margin         : auto;
  width          : 100%;
  height         : 100%;

  &:hover {
    transition: 0.2s;
    background: rgba(255,255,255,0.170);
  }
  @include desktop {
    border-radius: 3px;
    margin       : 0 3px;
    width        : auto;
  }
}

.e-menu-item {
  @extend %e-menu-item;
}

.e-menu {
  @extend %centered;
  justify-content : flex-start;
  display         : none;
  width           : 100%;
  padding         : 7px 0 10px;
  margin-top      : 7px;
  margin-bottom   : 0;
  background-color: rgba(255,255,255,.2);
  border-radius   : 4px;

  & .e-dropdown {
    background: transparent;
    text-align: left;
    margin    : 0;
    width     : 100%;
    @include desktop {
      width       : auto;
      margin-left : 0.3rem;
      margin-right: 0.3rem;
    }

    &:hover {
      background: lighten(rgba(255,255,255,0.1),100%);
    }
  }

  &.narrow {
    & > .e-menu-item {
      width     : auto;
      flex-grow : 1;
      text-align: center;
      @include desktop {
        flex-grow: 0;
      }
    }
  }

  & .e-btn {
    margin: 7px;
  }
  @include desktop {
    justify-content : center;
    background-color: transparent;
    display         : flex;
    width           : auto;
    border          : none;
    border-radius   : 0;
    flex-grow       : 1;
    padding         : 0;
    margin          : 0;

    & .e-btn {
      margin-top   : 0;
      margin-bottom: 0;
    }
  }
}

.e-separator {
  display         : none;
  height          : 22px;
  width           : 1px;
  background-color: rgba(0,0,0,0.1);
  border-radius   : 100px;
  @include desktop {
    display: block;
  }
}