::-webkit-scrollbar-button {
	display         : block;
	height          : 0;
	border-radius   : 0;
	background-color: #AAA;
}

::-webkit-scrollbar-button:hover {
	background-color: #AAA;
}

::-webkit-scrollbar-thumb {
	background-color: #c1c1c1;
}

::-webkit-scrollbar-track {
	background-color: #efefef;
}

::-webkit-scrollbar {
	width : 8px;
	height: 9px;
}

.e-nav-full::-webkit-scrollbar-track {
	background-color: rgba(0,0,0,0.1);
}

.e-nav-full::-webkit-scrollbar-track:hover {
	background-color: rgba(0,0,0,0.2);
}

body::-webkit-scrollbar {
	width: 11.70px;
}