.e-tag {
  display       : inline-flex;
  padding       : 0.25em 0.580em;
  background    : $default;
  color         : $e-font-color;
  font-size     : 80%;
  letter-spacing: 0.3px;
  font-weight   : 700;
  text-align    : center;
  white-space   : nowrap;
  vertical-align: middle;
  border-radius : 0.22rem;

  &.rounded {
    border-radius: 100px;
    padding      : 0.25em 0.8em;
  }

  &.static {
    font-size: 0.870rem !important;
  }
}