.highlight  {
  background: #f7f8f9;
  white-space:pre-wrap;
  font-size: 1.25rem;
  width: 100%;
  overflow: auto;
  max-width: 100%;
  padding:0;
  word-wrap:break-word;
  font-weight:500;
  margin:auto;
  border-radius: 4px;
  padding-left: 15px;
 }
.highlight .nt { color: #5e72e4 } /* Name.Tag */ /* <body> */
.highlight .na { color: #1ebea4 } /* Name.Attribute */ /* class="e-btn " */
.highlight .s { color: #f75676 } /* Literal.String */ /* "contenido" */
.highlight .c { color: #999988; font-style: bold } /* Comment */
.highlight .k { color: crimson; font-weight: bold } /* Keyword *//* @media */
.highlight .m { color: #ef0a4e } /* Literal.Number */
.highlight .n { color: #0086B3 } /* Name.Builtin */
.highlight .no { color: #008080 } /* Name.Constant */ /* color:red; */
.highlight .nl { color: #4fd69c;} /* Operator */
.highlight .cp { color: #92cc0d;} /* Operator */

/* Make line numbers unselectable: excludes line numbers from copy-paste user ops */
.highlight .lineno {-webkit-user-select: none;-moz-user-select: none; -o-user-select: none;}
.lineno::-moz-selection {background-color: transparent;} /* Mozilla specific */
.lineno::selection {background-color: transparent;} /* Other major browsers */
