%breadcrumb {
  margin     : 0;
  padding    : 0;
  align-items: center;
}

%e-breadcrumb {
  font-size    : 1rem;
  white-space  : nowrap;
  user-select  : none;
  padding      : 0.5rem 1rem;
  border-radius: 0.25rem;

  & ol,
  & ul {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: flex-start;
    @extend %breadcrumb;
    align-items    : flex-start;
  }

  & li {
    display    : flex;
    @extend %breadcrumb;
    line-height: 2;
  }

  & li+li::before {
    color  : rgba(0,0,0,0.3);
    content: "\0002f";
  }

  & li.active {
    background: transparent !important;

    & a {
      color          : $gray;
      cursor         : default;
      pointer-events : none;
      text-decoration: underline;
    }
  }

  & li:first-child a {
    padding-left: 0;
  }

  & a {
    @extend %breadcrumb;
    color          : $primary;
    display        : flex;
    justify-content: center;
    padding        : 0 0.75em;

    &:hover {
      text-decoration: underline;
      color          : $gray;
      transition     : color 0.2s;
    }
  }

  & i,
  & span {
    margin-right: 0.5rem;
  }
}

.e-breadcrumb {
  @extend %e-breadcrumb;
}