.e-list {
  flex-direction: column;
  display       : flex;
  padding       : 0;
  margin        : 0;
  border-radius : $border-radius;
  border        : 1px solid rgba(0,0,0,.125);
  text-align    : inherit;
}

.e-list-item {
  position        : relative;
  display         : block;
  padding         : 0.6em 0.90em;
  background-color: $white;
  border          : none;
  outline         : none;
  border-top      : 1px solid rgba(0,0,0,.125);
  border-bottom   : 1px solid rgba(0,0,0,.125);
  width           : 100%;
  color           : inherit;

  &:first-child {
    border-top             : none;
    border-top-left-radius : $border-radius;
    border-top-right-radius: $border-radius;
  }

  &:not(:last-child) {
    border-bottom: none;
  }

  &:last-child {
    border-bottom             : none;
    border-bottom-left-radius : $border-radius;
    border-bottom-right-radius: $border-radius;
  }

  &:hover {
    background: lighten($default, 2%);
  }

  &.active {
    background: $primary !important;
    @extend %place-color;
  }
}