---
layout: base
---

<main class="e-face e-fullscreen main">

  <nav class="e-nav no-bg">
    <a href="{{site.url}}" class="logo"><img src="{{ site.url }}/assets/images/efrolic-brand.png" alt="{{site.title}} | framework css {{ site.time | date: "%Y" }}" /></a>
    <a href="{{site.github}}" target="_blank" class="e-btn circle inverted no-mobile ePull infinite"><i class="fab fa-github"></i></a>
    <a href="{{site.twitter}}" target="_blank" class="e-btn circle inverted sky no-mobile ePull infinite"><i class="fab fa-twitter"></i></a>
    <i class="e-distribution"></i>

    <a href="{{ site.url }}/download" class="e-btn {{ site.button }}">
      <i class="fas fa-box"></i>
      Download
    </a>
  </nav>

  <section class="face-body centered">
    <div class="face-item mi-item" style="text-shadow:none;">
      <img class="eSlide" src="{{ site.url }}/assets/images/efrolic-developer.png" style="max-width:370px !important;" alt="{{site.title}} | framework css {{ site.time | date: "%Y" }}">
      <p class="info-frolic eSlide" style="color:{{ site.text_color }};">
        {% if page.description %}{{ page.description }}
        {% else %}{{site.description}}
        {% endif %}
      </p>
      <div class="e-toolbar centered">
        <div class="e-tags unified">
          <span class="e-tag dark">Currently</span>
          <span class="e-tag danger">{{site.version}}</span>
        </div>
        <div class="e-tags unified">
          <i class="e-tag sky fab fa-twitter"></i>
          <a href="{{site.twitter}}" target="_blank" class="e-tag sky">Tweet</a>
        </div>
        <div class="e-tags unified">
          <i class="e-tag primary fab fa-facebook-f"></i>
          <a href="{{site.twitter}}" target="_blank" class="e-tag primary">Like</a>
        </div>
      </div>
      <div class="e-alert dark text-left between">
         npm install efrolic <i class="fas fa-code text-warning"></i>
      </div>
      <a href="{{ site.url }}/start" class="eUp e-btn plus {{ site.button }}">
        <b>Get started</b>
      </a>
      <a href="{{ site.url }}/documentation" class="eUp e-btn plus {{ site.button_secondary }}">
        <b>Documentation</b>
      </a>
    </div>
    <div class="e-col no-mobile"></div>
  </section>
  <div class="w-100 no-mobile"style="height:45px;"></div>
</main>

<div class="e-cols centered e-fullscreen bg-2">
  <div class="container-white e-col-4 shadow-3">
    <h3 class="size-3" style="color:#{{ site.title_color }};">Css / GitHub</h3>
    <p style="color:{{ site.text_color }};">
      Copy-paste the stylesheet
      <strong class="code">&lt;link></strong>
      into your
      <strong class="code">&lt;head></strong>
      before all other stylesheets to load our CSS.</p>
    <!-- Code -->
{% highlight html %}
<link rel="stylesheet" href="{{ site.css_github }}">
<!-- Font awesome icons -->
<link rel="stylesheet" href="{{site.fontawesome}}" integrity="{{site.fontawesome_integrity}}" crossorigin="anonymous">
{% endhighlight %}
<p class="look" style="color:{{ site.text_color }};">
Includes icon fonts <strong>(Font awesome)</strong>
</p>
  </div>
  <div class="container-white e-col-3 shadow-3">
    <h3 class="size-3" style="color:#{{ site.title_color }};">Get started</h3>
    <p style="color:{{ site.text_color }};">Get started with eFrolic, a simple and functional framework for creating responsive sites on mobile devices. Use one of the following ways to start using.</p>
    <div class="e-alert dark text-left between">
       npm install efrolic <i class="fas fa-code text-warning"></i>
    </div>
  </div>

  <div class="container-white e-col-4 shadow-3">
    <h3 class="size-3" style="color:#{{ site.title_color }};">Css / CDN</h3>
    <p style="color:{{ site.text_color }};">
      Copy-paste the stylesheet
      <strong class="code">&lt;link></strong>
      into your
      <strong class="code">&lt;head></strong>
      before all other stylesheets to load our CSS.</p>
    <!-- Code -->
    {% highlight html %}
<link rel="stylesheet" href="{{ site.css_cdn }}">
<!-- Font awesome icons -->
<link rel="stylesheet" href="{{site.fontawesome}}" integrity="{{site.fontawesome_integrity}}" crossorigin="anonymous">
{% endhighlight %}
<p class="look" style="color:{{ site.text_color }};">
Includes icon fonts <strong>(Font awesome)</strong>
</p>
  </div>

</div>



<section class="e-container centered e-fullscreen bg">
  <div class="e-cols">
    <div class="e-col">
      <h2 class="size-3" style="color:#{{ site.title_color }};text-align:center;">Work with your favorite tools and languages.</h2>
      <p class="size-6" style="color:{{ site.text_color }};text-align:center;">This framework is pure CSS so it can be integrated in any environment.</p>
    </div>
    <hr>
    <div class="e-col">
      <div class="e-alert hov danger" style="text-align:center;">
        <i class="fab fa-angular e-title"></i>
        <h4>
          Angular
        </h4>
      </div>
    </div>
    <div class="e-col">
      <div class="e-alert hov sky" style="text-align:center;">
        <i class="fab fa-react e-title"></i>
        <h4>
          React
        </h4>
      </div>
    </div>
    <div class="e-col">
      <div class="e-alert hov success" style="text-align:center;">
        <i class="fab fa-vuejs e-title"></i>
        <h4>
          Vue
        </h4>
      </div>
    </div>
    <div class="e-col">
      <div class="e-alert hov warning" style="text-align:center;">
        <i class="fab fa-js-square e-title"></i>
        <h4>
          JavaScript
        </h4>
      </div>
    </div>
    <div class="e-col">
      <div class="e-alert hov danger" style="text-align:center;">
        <i class="fab fa-ember" style="font-size:5.8rem;"></i>
      </div>
    </div>
  </div>
</section>

<section class="e-fullscreen centered  bg-2">


  <div class="e-container">
  <div class="e-cols centered">
    <div class="e-col-5">
      <h3 class="size-3" style="color:#{{ site.title_color }};">Classes related to the element</h3>
      <p class="look" style="color:{{ site.text_color }};">We use simple classes to make it easy to remember and relate to the elements. Let's see, who does not remember this; use an e- in front of all classes, it's that simple. ¡A main class and
        abundant variations!</p>
      <p>
        <strong class="code">e-btn</strong>
      </p>
      <button class="e-btn danger">Button</button>
      <button class="e-btn success">Button</button>
      <button class="e-btn primary">Button</button>
      <button class="e-btn warning">Button</button>
      <button class="e-btn purple">Button</button>
    </div>
    <div class="e-col-4">
      <div class="e-card profile shadow-3">
        <div class="e-card-cover danger"></div>
        <div class="e-card-photo shadow-6">
          <img src="{{site.url}}{{site.photo_profile}}" alt="{{site.title}} | framework css {{ site.time | date: "%Y" }}">
        </div>
        <div class="e-buttons centered">
          <a class="e-btn plane inverted danger"><span class="e-tag danger">524.2k</span> Followers</a>
          <a class="e-btn plane inverted danger"><span class="e-tag danger">104.8k</span> Following</a>
        </div>
        <div class="card-body">
          <h3 class="card-title text-center text-dark">I am, e-card profile <span class="e-tag static">Followed</span></h3>
          <p class="card-text text-center"><small>558.9k followers</small></p>

          <button class="e-btn fullwidth inverted danger">Like</button>
          <button class="e-btn fullwidth danger">Unfollow</button>
        </div>
      </div>

    </div>
  </div>
  </div>
</section>


<section class="e-container centered e-fullheight bg">
  <div class="e-cols">
    <div class="e-col-8">
      <h3 class="e-title" style="color:#{{ site.title_color }};text-align:center;">The grid system</h3>
      <p class="look" style="color:{{ site.text_color }};text-align:center;">
        The grid is focused on mobile devices from the beginning and there is only one type.
        Easy to learn, just need a container and automatic columns or with a defined size,
        these will adjust to the size of the graphic window.
      </p>
      <hr>
    </div>
    <i class="w-100"></i>
    <div class="e-col">
      <div class="e-alert sky">
        <strong>Auto</strong>
      </div>
    </div>
    <div class="e-col">
      <div class="e-alert warning">
        <strong>Auto</strong>
      </div>
    </div>
    <div class="e-col">
      <div class="e-alert success">
        <strong>Auto</strong>
      </div>
    </div>
    <div class="e-col">
      <div class="e-alert dark">
        <strong>Auto</strong>
      </div>
    </div>
    <i class="w-100"></i>
    <div class="e-col-3">
      <div class="e-alert purple">
        <strong>e-col-3</strong>
      </div>
    </div>
    <div class="e-col-6">
      <div class="e-alert primary">
        <strong>e-col-6</strong>
      </div>
    </div>
    <div class="e-col-3">
      <div class="e-alert danger">
        <strong>e-col-3</strong>
      </div>
    </div>
  </div>

</section>


<section class="e-fullscreen bg-2 centered">
  <div class="e-container">
    <div class="e-section">
      <div class="e-card white">
        <div class="card-body">
          <div class="e-cols centered">
            <div class="e-col">
              <h2 class="e-title text-primary">News</h2>
              <p class="e- size-6">Find out everything that is happening, visit the news frequently to discover the new features instantly.</p>
              <hr class="hr">
              <div class="e-section e-buttons">
                <a class="e-btn rounded shadow-6 inverted danger">All updates</a>
                <a class="e-btn rounded shadow-6 inverted sky">New features</a>
                <a class="e-btn rounded shadow-6 inverted purple">Tutorials</a>
                <a class="e-btn rounded shadow-6 inverted warning">Bug fixes</a>
                <a class="e-btn rounded shadow-6 inverted success">Releases</a>
              </div>
            </div>
            <div class="e-col-4">
              {% for post in site.posts limit: 1 %}
              <div class="e-card profile shadow-3">
                <div class="e-card-cover {{post.color}} centered">
                  {% if post.image %}
                  <img src="{{site.url}}{{post.image}}" alt="{{post.title}}" alt="{{site.title}} | framework css {{ site.time | date: "%Y" }}">
                  {% endif %}
                </div>
                <div class="card-body">
                  <h3 class="card-title text-center text-gray">{{post.title}} <span class="e-tag static {{post.tag_color}}">{{post.tag}}</span></h3>
                  <p class="card-text text-center">{{ post.date | date_to_string }}</p>
                  <a href="{{site.url}}{{post.url}}" class="e-btn inverted fullwidth {{post.color}}"> Read more <i class="fas fa-arrow-right"></i></a>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



{% include global/footer.html %}

<style>
.aside {
  padding: 0 !important;
}

</style>
